<%= simple_form_for [@cocktail], wrapper: :vertical_form,
  wrapper_mappings: {
    range: :vertical_range,
  } do |c| %>
  <%= c.error_notification %>
  <%= c.input :name %>

  <div class="form-group flex-align">
    <%= c.button :submit, class: "btn-primary btn-center" %>
  </div>

<% end %>
