<div class="home-banner" style="background-image: url(<%= asset_path "home_banner.jpg" %>);">
  <div class="banner-content">
    <h1>Sans alcool, la fête est moins folle ...</h1>
    <%= link_to "Let's Go!", cocktails_path, :class => 'btn btn-outline-primary' %>
  </div>
</div>
